# Beispielkonfiguration fuer die Flask-gestuetzte FPP-Steuerung
# Werte nach Bedarf anpassen und als ".env" verwenden.

SITE_NAME="Brauns Lichtershow"
SITE_SUBTITLE="Fernsteuerung für den Falcon Player"
FPP_BASE_URL="http://fpp.local"
FPP_PLAYLIST_SHOW="show 1"
FPP_PLAYLIST_KIDS="show 2"
FPP_PLAYLIST_REQUESTS="all songs"
FPP_BACKGROUND_EFFECT="background"
FPP_POLL_INTERVAL_MS=15000
CLIENT_STATUS_POLL_MS=10000
DONATION_POOL_ID="abc123"
DONATION_CAMPAIGN_NAME="Winter Lights"
DONATION_TEXT="Hilf uns, die Show am Laufen zu halten!"
PREVIEW_MODE=false
ACCESS_CODE=1234

# Social-Media-Links (URLs zu den jeweiligen Profilen/Seiten)
SOCIAL_FACEBOOK=
SOCIAL_INSTAGRAM=
SOCIAL_TIKTOK=
SOCIAL_WHATSAPP=
SOCIAL_CHANNELS=
SOCIAL_YOUTUBE=
SOCIAL_WEBSITE=
SOCIAL_EMAIL=
